body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
}
span{
  color: orange;
}
section{
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 6%;
}
.half-width img{
  width: 80%;
}
.hire-button{
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 6px;
  background-image: linear-gradient(#2d388a, deepskyblue);
  color: white;
  font-weight: 800;

}