body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
span{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 150px;
}
.half-width{
  width: 50%;
  padding-left: 6%;
}
.half-width img{
  width: 80%;
}
.hire-button{
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 6px;
  background-image: linear-gradient(#2d388a, deepskyblue);
  color: white;
  font-weight: 800;

}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-big p{
  padding-right: 120px;
}